<plugin name='jquery-mobile' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Karol Balejko</author>
  <authorEmail>kb@groovydev.org</authorEmail>
  <title>Plugin jQuery mobile framework resource files</title>
  <description>\
Plugin jQuery mobile framework resource files. To get started -- checkout http://jquerymobile.com/
</description>
  <documentation>http://grails.org/plugin/jquery-mobile</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>JqueryMobileResources</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <plugin name='resources' version='1.0 &gt; *' />
    <plugin name='jquery' version='1.6 &gt; *' />
  </dependencies>
  <behavior />
</plugin>